limpiezaBase.ipynb
PROGRAMAS_SOCIALES.xlsx
PROGRAMAS_SOCIALES_LIMPIA.xlsx
scriptLimpieza.py
__pycache__/
analisisSE.py
analizarResultados.py
base_limpia (1).xlsx
base_limpia.geojson
muestra.py
data/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
